<div style="width: 80%; margin: 0 auto;">
  <h1>Please Login</h1>
  <div>
    
    <%= form_tag('/') do %>
      <%= text_field_tag 'name' %>
      <%= button_tag "login" %>
    <% end %>

  </div>
</div>